<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Channels Page</title>
  </head>
  <body>
    <!--Elencare i canali ufficiali Squealer-->
    <!--Eliminare o aggiungere canali ufficiali Squealer e [cambiare la descrizione]-->

    <!--Extra: elencare tutti i canali (anche quelli utenti)-->
    <!--filtrare per proprietari, numero di post e popolarità-->
    <!--cambiare a mano i proprietari ed il nome e bloccare/sbloccare-->
    <!--aggiungere o rimuovere squeal a canale-->

    <div class="w-full h-full justify-center align-middle">
      <h1 class="text-[40px] text-center pb-4">Channels Page - Mod</h1>
      <div
        class="h-full w-full border-4 border-black text-center overflow-y-scroll"
      >
        <div id="channelList"></div>
      </div>
    </div>
  </body>
</html>
