<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <!--di fianco a nome utenti mettere pulsante per bloccare/sbloccare e per aumentare/diminuire caratteri rimanenti-->
    <!--filtro nome, popolarità e tipo utenti. Extra: Ordine alfabetico, popolarità-->
    <div class="w-full h-full justify-center align-middle">
      <h1 class="text-[40px] text-center pb-4">Home Page - User Mod</h1>
      <div
        class="h-full w-full border-4 border-black text-center overflow-y-scroll"
      >
        <div id="userList"></div>
      </div>
    </div>
  </body>
</html>
