<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squeal Page</title>
  </head>
  <body>
    <!--elencare i post e:-->
    <!--1) filtrare per mittente, destinatari e data. Extra: ordinare per data-->
    <!--2) cambiare destinatari-->
    <!--3) cambiare numero reazioni pos/neg-->
    <!--Extra: eliminare squeal-->
    <div class="w-full h-full justify-center align-middle">
      <h1 class="text-[40px] text-center pb-4">Squeal Page - Mod</h1>
      <div
        class="h-full w-full border-4 border-black text-center overflow-y-scroll"
      >
        <div id="squealList"></div>
      </div>
    </div>
  </body>
</html>
