<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squeal Page</title>
  </head>
  <body>
    <!--1) filtrare per mittente, destinatari e data-->
    <!--Extra: eliminare squeal-->
    <div class="w-full h-full justify-center align-middle">
      <h1 class="text-[40px] text-center pb-4">Squeal Page - Mod</h1>
      <div
        class="h-full w-full border-4 border-black text-center overflow-y-scroll"
      >
        <div
          id="squealList"
          class="flex flex-col justify-center align-middle"
        ></div>
        <button
          id="loadMoreSqueals"
          class="mt-6 border-2 rounded-2xl bg-[#4b2ca0] text-white p-2 font-semibold"
        >
          Load More
        </button>
      </div>
      <div id="modal" class="modal">
        <div id="modal-content" class="modal-content"></div>
      </div>
    </div>
  </body>
</html>
