<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squeal Page</title>
  </head>
  <body>

    <!--Extra: eliminare squeal-->
    <div class="w-full h-full justify-center align-middle">
      <div class="flex pb-4 items-end">
        <h1 class="text-[40px] mr-10">Squeal Page - Mod</h1>
        <button
          class="border-solid border-4 border-blue-500 pl-3 pr-3 rounded-2xl mr-10 h-fit text-[22px] font-semibold mb-2"
          id="orderSenderName"
        >
          Sender Name
        </button>
        <button
          class="border-solid border-4 border-blue-500 pl-3 pr-3 rounded-2xl mr-10 h-fit text-[22px] font-semibold mb-2"
          id="privateGroup"
        >
          Private Group
        </button>
        <button
          class="border-solid border-4 border-blue-500 pl-3 pr-3 rounded-2xl mr-10 h-fit text-[22px] font-semibold mb-2"
          id="publicGroup"
        >
          Public Group
        </button>
        <button
          class="border-solid border-4 border-blue-500 pl-3 pr-3 rounded-2xl mr-10 h-fit text-[22px] font-semibold mb-2"
          id="modGroup"
        >
          Mod Group
        </button>
        <button
          class="border-solid border-4 border-blue-500 pl-3 pr-3 rounded-2xl mr-10 h-fit text-[22px] font-semibold mb-2"
          id="orderDate"
        >
          Date
        </button>
      </div>
      <div
        class="h-full w-full border-4 border-black text-center overflow-y-scroll"
      >
        <div
          id="squealList"
          class="flex flex-col justify-center align-middle"
        ></div>
        <button
          id="loadMoreSqueals"
          class="mt-6 border-2 rounded-2xl bg-[#4b2ca0] text-white p-2 font-semibold"
        >
          Load More
        </button>
        <p
          id="loadMoreSquealsEnd"
          class="mt-6 text-blck p-2 font-semibold hidden"
        >
          Non ci sono più elementi
        </p>
      </div>
      <div id="modal" class="modal">
        <div id="modal-content" class="modal-content"></div>
      </div>
    </div>
  </body>
</html>
